extends includes/base

block extraStyles
  script(src='/assets/js/dist/socket.io.js')

block title
  title="Square Squad"

block bodyClass
  - var bodyClass = 'page-index'

block content
  #particles-js.particles-js
  section.wrapper
    include includes/sqsq-logo.pug

    form#pre-home-form.sq-form(
      method='post'
      action='/'
    )
      div.input-field
        label(for='playerName') What's your name?
        input#playerName(
          type='text'
          name='playerName'
          required
          value=nickName
        )
      div.input-field
        label(for='playerColor') What's your favourite color?
        input#playerColor(
          type='color'
          name='playerColor'
          required
          value=playerColor
        )
      div.input-field.input-submit.text-center
        button(
          type='submit'
        ).btn
          | Let's play!

block extraScripts
  script(src='/assets/js/main.js')
  script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js")
  script(src="/assets/js/particles.js")

