extends includes/base

block title
  title="Square Squad"

block content
  div.uk-section
    div.uk-container.uk-container-small
      h1.uk-heading-large.uk-text-center Square Squad
      form#pre-home-form(
        method='post'
        action='/'
      )
        div.uk-margin
          label(for='playerName') What's your name?
          input#playerName(
            class="uk-input uk-form-large"
            type='text'
            name='playerName'
            required
            value=nickName
          )
        div.uk-margin
          label(for='playerColor') What color?
          input#playerColor(
            class="uk-input uk-form-large"
            type='color'
            name='playerColor'
            required
            value=playerColor
          )
        div.uk-margin
          input(
            class="uk-input uk-form-large"
            type='submit'
            value='GO!'
          )
