html
  head
    title= title
  body
    form(
      method='post'
      action='/rooms'
    )
      input(
        type='text'
        name='new-room'
      ) 
      input(
        type='submit'
        value='Create room'
      )
    
    ul
      each roomName, roomSlug in rooms
        li
          a(href='/rooms/' + roomSlug) !{roomName}