extends includes/base

block extraStyles
  script(src='/assets/js/dist/socket.io.js')

block title
  title=`Rooms - ${pageTitle}`

block bodyClass
  - var bodyClass = 'page-rooms'

block content
  #particles-js.particles-js
  section.wrapper
    include includes/sqsq-logo.pug

    .page-rooms__intro
      p.text-center
        a.user-name(href="/?action=edit-login" id="playerNameLabel" style=`color:${playerColor};`)
          span !{playerName}
      p You first need to select a room or create a new one

    a#rooms-refresh(href="#") [Refresh]
    div.rooms-list
      h3.rooms-list__title
        | Join a room&hellip;
      div#rooms-holder

    form.sq-form(
      method='post'
      action='/rooms'
    )
      div.input-field
        label(for='newRoom')
          | Or create a new one?
        input(
          id='newRoom'
          placeholder="Give it a name"
          type='text'
          name='new-room'
        )
      div.input-field.input-submit.text-center
        button(
          type='submit'
        ).btn
          | Create room

block extraScripts
  script(type="text/javascript").
    var userNickname = "!{playerName}"
    var userColor = "!{playerColor}"
  script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js")
  script(src="/assets/js/particles.js")
  script(src='/assets/js/main.js')

