extends includes/base

block scripts
  script(src='/assets/js/dist/socket.io.js')

block content
  body(data-roomSlug=roomSlug)
    div#section-lobby.uk-section(style=status === "waiting" ? "" : "display:none;")
        div.uk-container.uk-container-small
          h1.uk-heading-large.uk-text-center Square Squad
          p
            | Hello #[a(href="/?action=edit-login" id="playerNameLabel" style=`color:${playerColor};`) !{playerName} ]!
            | you first need to select a room or create a new one
          h3 !{roomName}
          h4 Players
          ul.player-list.players.no-score
          p
            a#startButton.uk-button.uk-button-primary(href='#' style="display:none") play
          p
            a.uk-button.uk-button-default(href='/') back
    div#section-play(style=status === "playing" ? "" : "display:none;")
      div.uk-text-center.uk-grid
        div.uk-width-1-4
          div.uk-card.uk-card-default.uk-card-body
            h3 !{roomName}
            h4 Players
            ul.player-list.players
            h1#countdown-text
            h1#points-text
        div.uk-width-3-4
          canvas#gameCanvas(width='700' height='700')
    div#section-ranking.uk-section(style=status === "end-round" ? "" : "display:none;")
      div.uk-container.uk-container-small
        h1.uk-heading-large.uk-text-center Square Squad
        h3 !{roomName}
        h1 The winner is <span id="winner-nickname"></span> with <span id="winner-score"></span> points
        ul#round-rank-list
        ul#rank-list
        button#back-button.uk-button.uk-button-default Back

    script(src='/assets/js/main.js')
    script(src=gameJS)

block footer
