html
  include includes/header.pug
  body
    div.uk-section
        div.uk-container.uk-container-small 
          h1.uk-heading-large.uk-text-center Square Squad
          p Hello #[a(href="/?action=edit-login" id="playerNameLabel") !{playerName} ]! you first need to select a room or create a new one
          h3 Join a room...
          div#roomsList
            if rooms
              ul
                each room, roomSlug in rooms
                  li
                    a(href='/rooms/' + roomSlug) !{room.getName(  )}
            else
              p No rooms yet
          h3 Or create a new one?
          form(
            method='post'
            action='/rooms'
          )
            div.uk-margin
              input(
                placeholder="Give it a name"
                class="uk-input uk-form-large"
                type='text'
                name='new-room'
              )
            div.uk-margin
              input(
                class="uk-input uk-form-large"
                type='submit'
                value='Create room'
              )
    include includes/footer.pug
          
          